<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="setup">
	   <parameter name="Browser" value="Chrome"></parameter>
		<classes>
			
			<class name="login.login" />
			<class name="login.setup" />
			<class name="myinfo.immigration" />
		</classes>
  </test> <!-- setup -->
</suite> <!-- Suite -->
